body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}


#main {
  align-items: center;
  height: 100vh;
}


#logo {
  color: #1877f2;
  font-size: 60px;
  margin: 0;
}

#desc {
  font-size: 22px;
  max-width: 400px;
}


#box {
  background: #fff;
  padding: 20px;
  width: 360px;
  border-radius: 8px;
  text-align: center;
}


#email,
#password {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
}


#login {
  width: 100%;
  padding: 12px;
  background: #1877f2;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}


#forgot {
  display: block;
  margin: 12px 0;
  color: #1877f2;
  text-decoration: none;
  font-size: 14px;
}


#line {
  border: 1px solid #ddd;
  margin: 15px 0;
}


#create {
  width: 70%;
  padding: 12px;
  background: #42b72a;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

#bottom {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}