body {
    margin: 0;
    background-color: #eeeeee;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    text-align: center;
    padding-top: 100px;
    background-image: url("BCO.2b202b66-6367-4950-afa8-3babef05dd60.png"), url("Simpson1.png");
    background-repeat: no-repeat;
    background-position: left top,right bottom;
    
    
}

button {
    padding: 12px 25px;
    background-color: #ff6b6b;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
